body{
	background: url('../images/blur_bg_min.jpg') center/cover;
	background-attachment: fixed;
}


/* ::::: Heading ::::: */

/* __ photo __ */
.photo{
	margin: 10px auto 0;
}

.my-photo{
	display: block;
	margin:  auto;
	background: center/cover;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

/* __ info __ */
.name{
	margin: 0px auto;
}

.info{
	display: block;
	width: 200px;
	margin: 0 auto;
}

/* ::::: projects ::::: */
.my-card{
	background-color: white;
	margin: 10px auto;

}

/* __ rows __ */
