<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>
		Countries
	</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body>
	<div ng-controller="MyController">
		<input autofocus ng-model="bob">
		<div ng-repeat="item in country | filter:bob">
			<h2>{{item.name.common}}</h2>
			<p>{{item.capital}}</p> <hr>
		</div>
	</div>
</body>
</html>